@mixin card-shadow {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.06);
    outline: none;
    border: none;
    background-color: #fff;
    z-index: 2;
    &:hover {
        box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.08);
    }
}

@mixin card-shadow-rounded {
    @include card-shadow;
    border-radius: 12px;
}

$mobile-width: 1240px;
$wide-width: 1600px;
$max-width: 1200px;